
 caption {
     font-family: 'Roboto', sans-serif;
     font-weight:400;
     font-size:35px;
     color: #b22222;
     padding-left:20px;
     caption-side: top;
     margin: -20px;
}

table   {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 48%;
    margin: 100px auto;
    border: 1px solid black;
    border-color: #ddd;
    box-shadow: 5px 20px 10px #ddd;
}


th, td {
    padding: 20px;
    font-size:18px;
}


th {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}

thead {
    background-color: #b22222;
    color: #ddd;

}

tbody{
    background-color: #fff;
}

td{
    border-bottom: 2px solid #cccccc;
    font-weight: bold;
}

td:first-child{
    background: #ddd;
    color: #424242;
    font-weight: 400;
    font-size: 18px;
}

tr :not(:first-child){
    text-align: right;
}
